@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 90px;
}

.logo{
    /* margin-left: 100px; */
    display: flex;
    align-items: center;
}
.logo img{
    margin-right: 20px;
}
.logo h1{
    font-weight: 400;
}
.logo span{
    font-weight: 800;
}
.nav-items a{
    text-decoration: none;
    color: gray;
    margin-left: 20px;
    text-transform: uppercase;
}

.banner{
    background: url('./images/img/Layer 24.png') rgba(27, 29, 33, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 200px;
    height: 90vh;
    background-blend-mode: multiply;
    position: relative;
}
.banner-text{
    position: relative;
    text-align: center;
    line-height: 60px;
    color: white;
    top: 30%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
.banner h2{
    font-weight: 300;
    font-size: 40px;
    letter-spacing: 5px;
}
.banner h1{
    font-size: 55px;
}

.btns{
    position: absolute;
    top: 60%;
    transform: translateX(180%);
    margin: 0;
    user-select: none;
}
.order-btn{
    padding: 15px 25px 15px 25px;
    background-color: #4AA406;
    border: #4AA406;
    cursor: pointer;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}
.contact-btn{
    padding: 15px 25px 15px 25px;
    border: 1px solid rgb(211, 193, 193);
    background: transparent;
    color: white;
    margin-left: 10px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .2s cubic-bezier(0.77, 0, 0.175, 1);
}
.contact-btn:before, .conatct-btn:after {
	content: '';
	position: absolute;	
	transition: inherit;
	z-index: -1;
}
.contact-btn:hover {
	background-color: #4AA406;
	transition-delay: .5s;
}
.contact-btn:hover:before {
	transition-delay: 0s;
}
.contact-btn:hover:after {
	background-color: #678f48;
	transition-delay: .35s;
}

.foods{
    display: flex;
    position: absolute;
    bottom: -150px;
    left: 12%
}
.food{
    /* border: 1px solid; */
    margin-right: 50px;
    background-color: white;
    border-radius: 5px;
    min-height: 260px;
    width: 300px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.food img,h3,p{
    margin: 20px 0 0 20px;
}
.food h3{
    font-size: 23px;
}
.food a{
    margin: 20px 0 0 0;
    display: inline-block;
    text-decoration: none;
    color: #49A305;
}
.food svg{
    width: 18px;
    margin: 20px 0 0 20px;
    color: #49A305;
}
.desc{
    /* margin: 20px 0 0 20px; */
    display: flex;
    align-items: center;
}

.our-foods{
    margin-bottom: 100px;
}

.our-foods h1{
    text-align: center;
    font-size: 40px;
}
.our-foods span{
    font-weight: 400;
}
.food-info{
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.title-desc{
    text-align: center;
    line-height: 30px;
    margin-top: 10px;
}
.food-flex{
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-top: 40px;
    margin-right: 50px;
}
.food-flex div{
    margin-left: 30px;
}
.foodTitle{
    color: #49A305;
}
.food-flex img{
    padding: 17px;
    height: auto;
    background-color: #f8f8f8;
    width: 90px;
    border-radius: 50%;
}
.food-flex p{
    margin: 0;
    line-height: 28px;
}
.food-flex h4{
    margin-bottom: 20px;
}